.geometric::before {
  position: absolute;
  content: "";
  width: 37vw;
  height: 30vw;
  left: 16%;
  top: 25%;
  background-color: var(--secondary);
}

.geometric::after {
  position: absolute;
  content: "";
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  left: 24%;
  top: 60%;
  background-color: var(--tertiary);
}
