@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1e1e;
    --background2: #181818;
    --primary: #f44c36;
    --secondary: #4e80ff;
    --tertiary: #fed766;
    --text1: #d3d3d3;
    --text2: #a5a5a5;
    --border: #cec2ff;
    --cursor-color: #cec2ff;
    --cursor-color-t: rgba(206, 194, 255, 0.547);
    --shadow: #111111;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text1);
  background: var(--background);
  cursor: url("/default.png") 10 7, auto;
}

a,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"],
input[type="image"],
label[for],
select,
textarea,
button,
.link {
  cursor: url("/pointer.png") 10 7, auto;
}
