.experienceContainer::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 9rem;
  bottom: 9rem;
  left: 0;
  background-color: var(--border);
}
.experienceItem::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -8.5rem;
  background-color: var(--secondary);
}

.triangle {
  position: absolute;
  width: 38rem;
  height: 38rem;
  background-color: var(--secondary);
  clip-path: polygon(81% 13%, 0 37%, 63% 96%);
}
